.sidebar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar::-webkit-scrollbar{
  width:0;
}

.dmovies{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dmovies::-webkit-scrollbar{
  width:0;
}
*{
  font-family: 'Roboto', sans-serif;
}
